<div class="container" id="contact">
	<div
		class="sticky top-7 pt-8 pb-4 px-4 rounded-br-2xl h-fit bg-white z-10 left-0 -translate-x-4 w-fit"
	>
		<h2
			class="bg-stone-100 text-xl outline-1 outline-stone-900 text-stone-950 py-2 px-4 w-fit rounded-xs rounded-br-2xl"
		>
			contact
		</h2>
	</div>

	<div class="space-y-4">
		<p class="text-center">
			let us <b>talk</b> about collaborations, commissions, projects, or anything
			else in mind.
		</p>
		<form
			class="grid gap-4 rounded-md rounded-tl-4xl rounded-br-4xl border border-gray-200 bg-white p-6 shadow-sm"
			action="https://api.web3forms.com/submit"
			method="POST"
		>
			<input type="hidden" name="access_key" value="YOUR_ACCESS_KEY" />
			<label class="flex flex-col gap-1 text-sm font-semibold text-gray-800">
				name
				<input
					type="text"
					name="name"
					required
					class="rounded-lg border border-gray-200 px-3 py-2 text-base text-gray-900"
					placeholder="your name"
				/>
			</label>
			<label class="flex flex-col gap-1 text-sm font-semibold text-gray-800">
				email
				<input
					type="email"
					name="email"
					required
					class="rounded-lg border border-gray-200 px-3 py-2 text-base text-gray-900"
					placeholder="you@example.com"
				/>
			</label>
			<label class="flex flex-col gap-1 text-sm font-semibold text-gray-800">
				subject
				<input
					type="text"
					name="subject"
					class="rounded-lg border border-gray-200 px-3 py-2 text-base text-gray-900"
					placeholder="project, collaboration, question..."
				/>
			</label>
			<label class="flex flex-col gap-1 text-sm font-semibold text-gray-800">
				message
				<textarea
					name="message"
					required
					rows="15"
					class="rounded-lg border border-gray-200 px-3 py-2 text-base text-gray-900"
					placeholder="tell me a bit about your idea"></textarea>
			</label>
			<span
				class="w-full flex flex-col items-center gap-1 text-sm text-gray-600"
			>
				i usually respond within 1-2 business days.
				<button
					type="submit"
					class="inline-flex w-fit items-center cursor-pointer hover:bg-stone-700 transition-colors justify-center gap-2 rounded-lg bg-stone-900 px-5 py-2 text-sm font-semibold text-white"
				>
					send
					<span aria-hidden="true">→</span>
				</button>
			</span>
		</form>
	</div>
</div>
