<div class="container" id="photo">
	<div
		class="sticky top-0 pt-15 pb-4 pr-4 rounded-br-2xl h-fit bg-white z-10 left-0 w-fit"
	>
		<h2
			class="bg-green-100 text-xl outline-1 outline-green-900 py-2 px-4 w-fit rounded-xs rounded-br-2xl"
		>
			Photo
		</h2>
	</div>
	<div class="flex gap-4">
		<div class="w-full grid grid-cols-2 grid-rows-[1fr_auto] gap-4">
			<div class="text-center">
				I do <b>portrait</b>,
				<iframe
					src="https://www.instagram.com/ta.nikata/embed/"
					allowtransparency="true"
					class="border-2 rounded-sm mt-4 w-full overflow-clip"
					scrolling="no"
					height="540"></iframe>
			</div>
			<div class="text-center">
				<b>nature, landscape, architecture, street,</b> and more.
				<iframe
					src="https://www.instagram.com/trileafu/embed/"
					allowtransparency="true"
					class="border-2 rounded-sm mt-4 w-full overflow-clip"
					scrolling="no"
					height="540"></iframe>
			</div>
			<div class="col-span-2 text-center">
				Some of my images are <b>royalty-free stock photos </b> on
				<div class="mt-3 flex justify-center gap-3">
					<a
						href="https://unsplash.com/@trileafu"
						target="_blank"
						rel="noopener"
						class="inline-flex h-16 gap-2 p-6 font-bold items-center justify-center rounded-full border border-gray-300 bg-white shadow-sm hover:bg-gray-50 transition"
					>
						<svg
							xmlns="http://www.w3.org/2000/svg"
							viewBox="0 0 457.19 104.19"
							height="32"
						>
							<path
								d="M59.88 38.66h27.53v48.75H0V38.66h27.53v24.37h32.35zm93 25c0 8.25-5.45 13.13-12.9 13.13-7.28 0-12.81-4.88-12.81-13.13V24.41h-12.22v39.13c0 15.45 11 25.21 25.06 25.21s25.15-9.76 25.15-25.21V24.41h-12.25zm43.7-21.13c-4.7 0-9.94 2-12.6 6.57v-5.41h-11.45v43.64h11.81v-25.1c0-5 3-9 8.16-9 5.68 0 8.08 3.82 8.08 8.7v25.4h11.8V59.82c.03-9.59-4.94-17.31-15.77-17.31zm43.31 18.37l-6.48-1.33c-2.47-.5-4-1.77-4-3.9 0-2.49 2.23-4.35 5.33-4.35 4.36 0 6.09 2.25 6.51 4.88h10.18c-.08-6-4.83-13.84-16.51-13.84-9.41 0-16.33 6.47-16.33 14.28 0 6.13 3.81 11.19 12.24 13l6.05 1.33c3.37.71 4.7 2.31 4.7 4.26 0 2.31-2.14 4.35-6 4.35-4.71 0-7.27-2.68-7.87-5.79h-10.5c.59 6.53 5.32 14.84 18.46 14.84 11.45 0 17.22-7.28 17.22-14.38-.01-6.36-4.36-11.59-12.97-13.37zm63.19 4.53c0 13.22-8.26 23-20.59 23-6 0-10.48-2.4-12.61-5.33v21.13h-11.8V43.67h11.45v5.41c2-3.37 6.83-6.39 13.4-6.39 12.81 0 20.18 9.76 20.18 22.72zm-11.63.09c0-7.72-4.79-12.25-10.83-12.25s-10.91 4.53-10.91 12.25 4.88 12.33 10.91 12.33 10.91-4.54 10.91-12.35zm68-21.83h11.45v43.64h-11.8v-5.31c-2 3.5-6.57 6.38-12.61 6.38-12.33 0-20.59-9.77-20.59-23 0-13 7.37-22.72 20.15-22.72 6.57 0 11.32 3.05 13.4 6.39zm-.18 21.83c0-7.72-4.88-12.25-10.91-12.25s-10.83 4.51-10.83 12.23 4.79 12.33 10.83 12.33 10.92-4.6 10.92-12.33zm-50.66 21.81h11.8V24.41h-11.8zm132.35-44.81c-4.17 0-9 1.41-11.81 4.78V24.41h-11.8v62.91h11.8V61.68c.27-4.8 3.2-8.52 8.17-8.52 5.68 0 8.08 3.83 8.07 8.71v25.47h11.81V59.82c-.01-9.59-5.15-17.3-16.24-17.3zm-42 18.36l-6.43-1.33c-2.47-.5-4-1.77-4-3.9 0-2.49 2.22-4.35 5.33-4.35 4.35 0 6.08 2.25 6.5 4.88h10.17c-.08-6-4.83-13.84-16.51-13.84-9.41 0-16.33 6.47-16.33 14.28 0 6.13 3.82 11.19 12.25 13l6 1.33c3.37.71 4.7 2.31 4.7 4.26 0 2.31-2.14 4.35-6 4.35-4.71 0-7.27-2.68-7.87-5.79h-10.49c.58 6.53 5.31 14.84 18.45 14.84 11.45 0 17.22-7.28 17.22-14.38 0-6.34-4.35-11.57-12.95-13.35zM59.88 0H27.53v24.37h32.35z"
							></path>
						</svg>
					</a>
					<a
						href="https://www.pexels.com/@trileafu"
						target="_blank"
						rel="noopener"
						class="inline-flex h-16 p-6 font-bold items-center justify-center rounded-full border border-gray-300 bg-white shadow-sm hover:bg-gray-50 transition"
						aria-label="Pexels"
					>
						<svg
							xmlns="http://www.w3.org/2000/svg"
							height="32"
							viewBox="0 0 512 227"
						>
							<path
								d="M511.187 131.02C509.164 120.486 506.384 114.524 503.211 107.417C501.187 102.884 499.317 98.6027 498.694 95.7914C497.152 88.8342 497.908 80.1165 498.265 76.9559H479.596L476.451 81.9607C469.281 93.3721 453.608 118.338 453.607 118.339C444.924 131.386 434.121 147.618 418.553 153.758C415.613 154.751 409.393 156.767 404.469 151.122C399.777 145.744 400.185 139.937 400.204 139.692L400.223 139.433L400.235 139.275L400.351 139.165L400.543 138.982C421.115 119.456 440.747 98.0267 450.557 84.3877C461.856 68.6797 467.522 55.7517 471.946 44.8671C474.701 38.0835 480.429 21.0609 474.129 9.53638C471.495 4.71716 467.034 1.44608 461.567 0.325525C460.497 0.106481 459.471 0 458.432 0C446.837 0 433.098 14.565 416.43 44.5274C402.557 69.4604 392.695 90.8751 387.12 108.177C384.235 117.129 382.339 128.47 382.339 128.471C381.714 129.595 370.375 142.671 359.178 150.087C355.43 152.569 349.908 155.638 342.002 155.638C334.841 155.638 328.199 151.258 328.197 151.257C328.2 151.256 339.703 145.052 358.243 126.848C368.262 117.009 372.497 103.566 369.295 91.7638C364.27 73.2637 346.588 71.826 341.288 71.826C326.515 71.8713 314.504 81.4527 308.708 89.6434C294.733 109.381 295.344 125.544 297.439 137.419C298.118 141.257 299.355 145.038 301.115 148.654L301.29 149.012C301.288 149.013 279.271 164.432 266.053 146.596C260.98 139.75 253.158 125.537 253.157 125.534L299.238 76.9613H274.472C258.72 93.2817 243.999 108.701 243.996 108.704C243.995 108.701 233.145 87.9123 227.999 76.9559H207.991C209.743 80.4129 211.508 83.9821 213.435 87.8768C219.788 100.719 230.978 122.349 230.979 122.351C230.978 122.353 226.203 127.339 226.202 127.341C223.675 129.967 215.982 137.958 203.609 145.553C196.697 149.788 189.441 152.685 181.427 154.409C175.157 155.759 167.083 155.908 162.222 154.604C159.442 153.858 154.206 151.303 154.206 151.303C154.208 151.301 168.684 142.237 184.317 126.858C194.327 117.011 198.563 103.568 195.371 91.7732C190.344 73.2768 172.662 71.8395 167.362 71.8395C152.593 71.8845 140.578 81.4614 134.777 89.6491C120.804 109.375 121.416 125.547 123.511 137.432C124.127 140.925 126.491 147.497 126.491 147.497C115.785 153.142 105.638 156.512 93.2508 156.956C92.1763 156.995 87.5926 157.012 86.1204 156.934C85.7569 156.915 84.623 156.763 84.623 156.763C84.6237 156.763 87.2107 155.105 87.8157 154.692C103.092 144.267 109.834 125.528 110.298 108.996C110.682 95.3566 107.46 84.338 101.226 77.974C97.3124 73.9742 92.1345 71.9054 85.8352 71.826H85.5688C74.4682 71.826 61.8243 78.4821 53.018 86.7525C50.955 88.6901 45.1151 95.26 45.1149 95.2603L48.7384 76.9532H29.566L0 226.271H19.1834L36.48 138.885C40.2234 122.447 45.9629 112.029 56.9644 101.665L57.1455 101.51C59.8693 99.1994 62.9849 97.0036 65.918 95.328C70.7655 92.5572 75.1511 91.152 78.9529 91.152C81.208 91.152 83.2428 91.6543 85.0023 92.6447C91.2279 96.1683 91.9858 104.727 92.3933 109.326C93.9896 127.445 80.0006 139.727 78.4002 141.068C73.7991 144.917 68.9992 146.788 63.7256 146.788C56.6649 146.788 51.3729 144.284 48.4039 142.896C48.2907 143.445 47.5469 147.095 47.5469 147.095C46.8113 150.765 45.389 158.138 45.3888 158.139C53.0786 164.721 68.412 172.104 88.6396 173.266C90.28 173.362 91.9431 173.41 93.5821 173.41C108.447 173.41 123.012 169.522 136.873 161.854L137.135 161.71L137.36 161.904C142.623 166.436 147.692 168.647 149.358 169.373C159.042 173.596 169.583 173.335 170.617 173.335C183.411 173.335 195.361 169.647 198.718 168.517C219.995 161.354 232.065 147.959 236.609 142.977L240.074 139.324L242.274 143.381C245.181 148.764 248.476 154.865 254.285 161.506C256.697 164.264 265.809 173.26 281.817 173.26C297.013 173.26 312.644 162.989 312.645 162.988C312.648 162.991 317.775 167.024 323.309 169.632C330.243 172.899 338.323 173.252 341.475 173.252C357.227 173.252 370.233 167.39 383.645 154.243L384.105 153.792C384.106 153.794 386.055 158.429 387.734 160.845C396.363 173.254 407.477 173.294 411.374 173.294C414.976 173.294 421.025 172.67 425.577 170.911C445.916 163.047 461.71 141.167 469.314 128.825C469.315 128.823 475.112 119.634 481.964 105.539L483.494 102.455C483.495 102.456 487.147 111.122 487.148 111.125C489.25 116.226 491.21 121.908 492.143 125.6C494.718 135.576 496.443 144.345 491.431 150.591C488.987 153.607 483.95 156.851 478.666 156.851C475.899 156.851 473.29 155.986 470.912 154.279C470.011 153.616 469.077 152.78 468.125 151.79C464.24 156.638 460.211 161.063 456.139 164.956C459.638 167.489 467.811 173.453 480.048 173.453C483.773 173.453 489.075 172.493 492.539 170.772C506.635 163.769 514.679 149.203 511.187 131.02ZM408.648 103.39L410.031 99.942C415.213 87.0267 422.71 71.8007 432.95 53.394C444.791 32.107 452.665 23.6148 456.304 20.4475L457.405 19.4904L458.066 18.9154L458.107 19.782L458.176 21.2241C458.376 25.5125 456.987 31.7896 454.461 38.0155C450.253 48.3681 445.298 59.6522 435.181 73.718C430.12 80.7499 421.854 90.4729 411.905 101.095L409.353 103.823L407.815 105.467L408.648 103.39ZM145.307 136.878L144.861 137.202C144.861 137.202 144.221 135.9 143.86 134.868C142.402 130.693 141.92 123.862 142.646 118.327C143.928 108.754 148.185 102.304 149.957 99.9748C155.245 93.023 161.306 89.2002 166.955 88.538C168.919 88.3079 172.297 88.586 175.232 91.4015C177.994 94.0512 182.867 103.41 172.359 114.719C169.155 118.165 166.306 120.924 159.623 126.442C154.621 130.592 146.82 135.864 145.307 136.878ZM318.664 137.054L318.177 137.379L318.019 136.821L317.469 134.87C315.935 129.43 315.528 123.861 316.26 118.32C317.524 108.782 321.793 102.31 323.569 99.97C328.853 93.0179 334.89 88.9582 340.567 88.5394C340.936 88.5117 341.323 88.4931 341.723 88.4931C344.486 88.4931 346.816 89.4416 348.844 91.3926C351.605 94.0512 356.469 103.424 345.959 114.718C342.751 118.167 339.902 120.927 333.237 126.446C327.744 130.994 318.754 136.994 318.664 137.054Z"
							></path>
						</svg>
					</a>
				</div>
			</div>
		</div>
	</div>
</div>
