---
import Logo from "@/components/Logo.astro";
import Layout from "@/layouts/Layout.astro";
import Aside from "@/assets/aside.svg";
import Navbar from "@/components/Navbar.astro";
import Readme from "@/components/sections/Readme.astro";
import Photo from "@/components/sections/Photo.astro";
import Software from "@/components/sections/Software.astro";
import Writing from "@/components/sections/Writing.astro";
import Footer from "@/components/Footer.astro";
import Music from "@/components/sections/Music.astro";
---

<Layout>
	<link
		rel="preload"
		href="https://www.instagram.com/ta.nikata/embed/"
		as="document"
	/>
	<link
		rel="preload"
		href="https://www.instagram.com/trileafu/embed/"
		as="document"
	/>
	<style>
		.logoFigure {
			animation-name: logoFigureHorizontalAnim;
			animation-duration: 1s;
			animation-timing-function: cubic-bezier(0.16, 1, 0.3, 1);
			animation-fill-mode: both;
			animation-delay: 0.9s;
		}
		.logoAside {
			animation-name: logoAsideHorizontalAnim;
			animation-duration: 1s;
			animation-timing-function: cubic-bezier(0.16, 1, 0.3, 1);
			animation-fill-mode: both;
			animation-delay: 0.9s;
		}

		.logoMain {
			animation-name: logoMainAnim;
			animation-duration: 0.5s;
			animation-timing-function: cubic-bezier(0.16, 1, 0.3, 1);
			animation-fill-mode: both;
			animation-delay: 0.9s;
		}

		@keyframes logoMainAnim {
			0% {
				background-color: var(--color-trileafu-background);
			}
			100% {
				background-color: white;
			}
		}

		@keyframes logoFigureVerticalAnim {
			0% {
				height: 60vh;
			}
			100% {
				height: 20vh;
			}
		}

		@keyframes logoFigureHorizontalAnim {
			0% {
				width: 80vw;
			}
			100% {
				width: 20vw;
			}
		}
		@keyframes logoAsideVerticalAnim {
			0% {
				filter: blur(24px);
				transform: translateY(240px);
			}
			100% {
				filter: blur(0px);
				transform: translateY(0px);
			}
		}

		@keyframes logoAsideHorizontalAnim {
			0% {
				filter: blur(24px);
				transform: translateX(240px);
			}
			100% {
				filter: blur(0px);
				transform: translateX(0px);
			}
		}
	</style>
	<div
		class="max-sm:min-h-[40lvh] z-10 min-h-[100svh] flex items-center justify-center bg-black absolute top-0 left-0 w-full"
	>
		<main
		id="logo"
			class="logoMain relative flex items-end justify-end overflow-hidden sm:flex-row gap-4 bg-white aspect-[3.375/2.125] w-[80vw]"
		>
			<figure
				class="logoFigure absolute z-20 top-0 left-0 h-full bg-trileafu-background flex items-center justify-center"
			>
				<Logo />
			</figure>
			<aside class="logoAside w-[60vw] h-full">
				<Aside class="w-full h-full" />
			</aside>
		</main>
	</div>
	<Navbar
		id="header"
		class="transition-transform duration-300 -translate-y-16"
	/>
	<div
		class="absolute z-20 top-0 left-0 flex w-full h-[100svh] overflow-y-scroll"
	>
		<div class="w-full">
			<div
				class="bg-white justify-center flex px-8 max-sm:mt-[40svh] mt-[100svh]"
				id="contents"
			>
				<div class="container flex items-stretch md:gap-4">
					<aside
						class="md:min-w-34 bg-[url('@/assets/stem.svg')] bg-contain bg-repeat-y"
					>
					</aside>
					<main class="flex-none flex-shrink-1 w-full pl-0 pb-12">
						<Readme />
						<Photo />
						<Music />
						<Software />
						<Writing />
					</main>
				</div>
			</div>
			<Footer />
		</div>
	</div>
	<script is:inline>
		function scrollHandler() {
			const top = window.getComputedStyle(document.getElementById("contents")).marginTop.replace("px", "");
			const rect = document.getElementById("contents").getBoundingClientRect();
			const logo = document.getElementById("logo");
			const blurValue = ((1 - rect.top / top) * 16).toFixed(2);
			logo.style.filter = `blur(${blurValue}px)`;
			const scaleDelta = (1 - rect.top / top) * 0.2;
			const scaleValue = Math.max(0.8, 1 - scaleDelta);
			logo.style.transform = `scale(${scaleValue})`;
			if (rect.top <= 60) {
				header.classList.remove("-translate-y-16");
			} else {
				header.classList.add("-translate-y-16");
			}
			requestAnimationFrame(scrollHandler);
		}
		document.addEventListener("DOMContentLoaded", () => {
			requestAnimationFrame(scrollHandler);
		});
	</script>
</Layout>
