---
import { Image } from "astro:assets";
import Favicon from "@/assets/brands/favicon.png";
import { Leaf, Newspaper } from "lucide-react";
---

<header
	id={Astro.props.id}
	class:list={[
		"sticky top-0 px-8 flex justify-center z-30 w-full bg-white",
		Astro.props.class,
	]}
>
	<nav class="container flex items-center justify-between py-3">
		<a href="/#" class="flex items-center gap-3">
			<Image src={Favicon} alt="trileafu logo" class="h-8 w-8" />
			<span class="text-xl font-serif font-bold">trileafu</span>
		</a>
		<div class="flex items-center gap-4 text-sm" id="nav-links">
			<button class="hover:underline cursor-pointer hidden" id="hide-leaf">
				<Leaf className="md:hidden" size={16} />
				<span class="hidden md:inline">disable leaves</span>
			</button>
			<button class="hover:underline cursor-pointer hidden" id="show-leaf">
				<Leaf className="md:hidden opacity-50" size={16} />
				<span class="hidden md:inline">enable leaves</span>
			</button>
			<a href="/blog" class="hover:underline cursor-pointer">
				<Newspaper className="md:hidden" size={16} />
				<span class="hidden md:inline"> my blog</span>
			</a>
			<button
				data-target="contact"
				class="rounded-md cursor-pointer bg-[#262626] px-3 py-1 hover:text-white text-[#dcffba]"
				>contact me</button
			>
		</div>
	</nav>

	<script is:inline>
		const nav = document.getElementById("nav-links");
		nav?.addEventListener("click", (event) => {
			const el =
				event.target instanceof HTMLElement
					? event.target.closest("[data-target]")
					: null;
			if (!(el instanceof HTMLElement)) return;
			const sectionId = el.dataset.target;
			if (!sectionId) return;
			const section = document.getElementById(sectionId);
			if (!section) return;
			event.preventDefault();
			section.scrollIntoView({ block: "start" });

			// section.scrollIntoView({ behavior: "auto", block: "start" });
		});
	</script>
</header>
